
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --main-color: #bc1823;
    --black:rgb(19, 18, 18);
    --white:rgb(248, 243, 243);
    --light-black: rgb(39, 31, 31);
    --light-white:rgb(153, 141, 141);
    --border: .1re, solid var(var(--black));
    --box-shadow: 0 .3rem 0.5rem rgb(134, 131, 131);
    --text-shadow:0 1.6rem 3rem rgb(10, 10, 13);

}
section {
    padding: 6rem 11%;
}

*{
    font-family: "IBM Plex Mono", monospace;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 1rem;

}
html::-webkit-scrollbar-track {
    background-color: var(--white);

}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);

}
.header{
    position: sticky;
    top: 0; right:0; left:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;


}
.header .carLogo {
    font-size: 2.4rem;
    color: var(--black);
}
.header .navbar a{
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: var(--black);
}
.header .navbar a:hover{
    color:var(--main-color)
}
#menu-btn{
    font-size: 2.6rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}
































@media(max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media(max-width:991px){
    html{
        font-size: 54%;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
    .header .navbar{
        position: absolute;
        top:98%; left:0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}