
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --main-color: #bc1823;
    --black:rgb(19, 18, 18);
    --white:rgb(248, 243, 243);
    --light-black: rgb(39, 31, 31);
    --light-white:rgb(153, 141, 141);
    --border: .1re, solid var(var(--black));
    --box-shadow: 0 .3rem 0.5rem rgb(134, 131, 131);
    --text-shadow:0 1.6rem 3rem rgb(10, 10, 13);
    --light-bg: rgb(223, 221, 221);
    

}
section {
    padding: 6rem 11%;
}
@keyframes fadeIn{
0%{
    transform:scale(0);
    opacity: 0;
}}
*{
    font-family: "IBM Plex Mono", monospace;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 1rem;

}
html::-webkit-scrollbar-track {
    background-color: var(--white);

}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);

}
.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}


.header{
    position: sticky;
    top: 0; right:0; left:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;


}
.header .carLogo {
    font-size: 2.4rem;
    color: var(--black);
}
.header .navbar a{
    font-size: 1.8rem;
    margin-left: 1.8rem;
    color: var(--black);
}
.header .navbar a:hover{
    color:var(--main-color)
}
#menuBtn{
    font-size: 2.6rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}
.btn {
    display: inline-block;
    background-color: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn:hover {
   
    background-color: var(--main-color);
    
}
.boxCcontainer{
    display: none;
}

 .homePage{
    padding:0;
}

.homePage .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 59rem;
}
.homePage .slide .content{
    width: 84rem;

}
.homePage .swiper-active .content{
    display: inline-block;
}
.homePage .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    animation: fadeIn .4s linear backwards .2s;
}
.homePage .slide .content span{
    display: block;
    font-size: 3.5rem;
    color: var(--light-white);
    padding-bottom: 2rem;
    animation: fadeIn .4s linear backwards .2s;
}
.homePage .slide .content h3{
animation: fadeIn .4s linear backwards .7s;
}

.homePage .swiper-button-next,
.swiper-button-prev{
    color: var(--main-color);
}
.service .boxCcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap:1.6rem;
}


.service .boxCcontainer .box{ 
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;

}
 .boxCcontainer .box{
    background: var(--black);
}
.service .boxCcontainer .box:hover{ 
background-color: #1f0204;
}
.homeAbout{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.homeAbout .image{
    flex:1 1 41rem;
}
.homeAbout .image img{
 width: 100%;
}

.homeAbout .homeContent{
    flex:1 1 41rem;
    padding: 3rem;
    
}
.homeAbout .homeContent h3{
    font-size: 3rem;
    color: var(--black);
}
.homeAbout .homeContent p{
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}
.homePackage{
    /* background: var(--light-black); */
}
.homePackage .boxContainer .BOX{
    border: var(--border) ;
    box-shadow: var(--box-shadow);
    background: var(--white);
}
.homePackage .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.homePackage .boxContainer .image{
    height: 25rem;
    overflow: hidden;
}
.homePackage .boxContainer .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2 linear;
}

.homePackage .boxContainer .BOX .content{
    padding: 2rem;
    text-align: center;
}

.homePackage .boxContainer .BOX .content h3{
    font-size: 2.6rem;
    color: var(--black);
}
.homePackage .boxContainer .BOX .content p{
    font-size: 2.6rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.homePackage .loadMore{
    text-align: center;
    margin-top: 2rem;
}
/* about page */
.about .image{
    flex:1 1 41rem;
}
.about .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2 linear;
}
.about .content{
    flex: 1 1 41rem;
    text-align: center;
}
.about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.about .content p{
    font-size: 1.6rem;
    color: var(--light-blackblack);
    line-height: 2;
    padding:1rem 0 ;
}

.wiper{
    padding-bottom: 20rem;
}
.wiper .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
   
  }
  .wiper .swiper-wrapper .swiper-slide img {
display: block;
      width: 100%; 
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.reviews{
    background: var(--light-bg);
}
.reviews .slide{
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
}
.reviews .slide .stars img{
    height: 30%;
    width: 30%;
}












.footer{
    background: url(../Travel-Page/images/red-bk.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3.2rem;
}
.footer .boxContainer .box h3 {
  font-size: 2rem;
  padding-bottom: 1.1rem;
  color: var(--light-white);
}
.footer .boxContainer .box a {
    display: block;
   color: var(--light-white);
   font-size: 1.2rem;
   padding-bottom: 1.1rem;
   
}
.footer .boxContainer .box a i {
transition: .2s linear;
}
.footer .boxContainer .box a:hover i {
    padding-right: .5rem;
}


/* media sizes */

@media(max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media(max-width:991px){
    html{
        font-size: 54%;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
    #menuBtn{
        
        display: inline-block;
        transition: .3s linear;
    }
    #menuBtn.fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        top:98%; left:0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .3s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{ 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}